* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: "Mulish", sans-serif;

}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.box {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    text-align: end;
    align-items: end;
    list-style-type: none;

}



main {
    display: flex;
    justify-content: space-between;
    margin-top: 91px;
}

.main_info h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    width: 421px;
}

.main_info p {
    font-weight: 300;
    font-size: 19px;
    line-height: 32px;
    color: #7D7987;
    width: 400px;
    margin: 26px 0 35px 0;
}

.main_info a {
    padding: 14px 37px;
    background: #458FF6;
    color: #fff;
    border-radius: 55px;
}

.service {
    padding: 91px 0 76px 0;
}

.service h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
}

.service_desc {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color: #7D7987;
    padding: 62px 0 36px 0;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
}


.card {
    max-width: 380px;
    padding: 28px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background: #E7E7E7;
    border-radius: 20px;
}
.card:hover{
    background-color: blue;
}

.card h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: 0%;

}

.card p {
    width: 280px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #7D7987;
}

.box10 {
    width: 80px;
    height: 79px;
}

.hover {
    padding: 10px 20px;
    background: blue;
    border-radius: 20px;
    border: none;
    color: white;
    transition: ease 0.5s;
    cursor: pointer;
}

.hover:hover {
    background-color: green;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.servisewrap h1 {
    padding: 10px 0 76px 0;
    text-align: center;
}

.servise3 {
    margin-top: 77px;
    margin-bottom: 50px;
}

.servise4 {
    display: flex;
    justify-content: space-between;
    margin-top: 91px;
    gap: 100px;






}

.servise4 p {
    margin-top: 200px;
    width: 400px;
}

.servise5 {
    width: 300px;
    margin-left: 900px;
    margin-bottom: 400px;

}

.main_info1 h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    width: 421px;
    /* margin-left: 900px; */



}

.main_info1 p {
    font-weight: 300;
    font-size: 19px;
    line-height: 32px;
    color: #7D7987;
    width: 400px;
    /* margin: 26px 0 35px 0; */
    /* margin-left: 900px; */
    /* padding-top: 50px; */
    display: flex;
}

.main_info1 {
    margin-bottom: 10px;
}

.main_info1 img {
    width: 500px;
}

.hover1 {
    padding: 10px 20px;
    background: blue;
    border-radius: 20px;
    border: none;
    color: white;
    transition: ease 0.5s;
    cursor: pointer
}

.hover1:hover {
    background-color: green;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card11 {
    margin-top: 50px;
}

.box1 img {
    width: 380px;
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
}

.box1 h3 {
    margin-top: 10px;
    margin-left: 50px;
}

.box1 p {
    margin-left: 50px;
    margin-top: 30px;
}

.box1 a {
    color: #458FF6;
    margin-top: 30px;

}

.hover2 {
    margin-top: 20px;
}

.box2 img {
    width: 380px;
    margin-top: 30px;
    border-radius: 20px;
    height: 210px;
}

.ota {
    display: flex;
    gap: 30px;
}

.box2 h3 {
    margin-left: 45px;
}

.box2 p {
    margin-left: 45px;
    margin-top: 30px;
}

.box2 a {
    color: #458FF6;
}

.box3 img {
    width: 380px;
    margin-top: 30px;
    border-radius: 20px;
    height: 210px;
}

.box3 h3 {
    margin-left: 45px;
}

.box3 p {
    margin-left: 45px;
    margin-top: 30px;
}

.box3 a {
    color: #458FF6;
}

.box5 img {
    width: 1700px;
    height: 600px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxes img {
    margin-top: 1px;
}

.boxes p {
    margin-top: 50px;
    margin-bottom: 50px;
}

.boxes h1 {
    margin-bottom: 10px;
}

.box5 {
    width: 100%;
    height: 432px;
    background-color: #67C3F3;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.box5 img {
    width: 170px;
    height: 41px;
}

.pp {
    color: #E7E7E7;
    width: 386px;
    margin-top: 10px;
}

.box6 h2 {
    color: white;

}

.box6 p {
    color: white;
    margin-top: 10px;
}
.hover5{
      padding: 10px 20px;
    background: blue;
    border-radius: 20px;
    border: none;
    color: white;
    transition: ease 0.5s;
    cursor: pointer
}
.hover5:hover{
     background-color: green;
    text-align: center;
    align-items: center;
    justify-content: center;
}